@font-face {
    font-family: 'alarm-clock';
    src:url('fonts/alarm-clock.ttf.woff') format('woff'),
        url('fonts/alarm-clock.ttf.svg#alarm-clock') format('svg'),
        url('fonts/alarm-clock.ttf.eot'),
        url('fonts/alarm-clock.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: black;
    padding: 0;
    margin: 0;
}
* {
    color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
}

.time {
    font-size: 7em;
    font-family: alarm-clock, sans-serif;
}